<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="theme-color" content="#009688">
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<title>Scholarship result</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
	<!-- navbar -->
	<nav id="navbar">
	  <div class="nav-wrapper">
	    <div class="container">
	      <div class="row">
	        <a href="/" class="brand-logo v-align"><img src="" alt="Logo" id="navbar-brand-logo" style="height: 55px; padding: 5px;"></a>
	        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons primary-color">menu</i></a>
	        <ul class="right hide-on-med-and-down">

	          <li>
	          	<a href="index.html"><span class="material-icons">home</span> Home</a>
	          </li>

	          <li>
	          	<a href="aboutUs.html"><span class="material-icons">description</span> About Us</a>
	          </li>

	          <li>
	          	<a href="gallery.html"><span class="material-icons">panorama</span> Gallery</a>
	          </li>

	          <li>
	          	<a href="displayBoard.html"><span class="material-icons">assignment</span> Display Board</a>
	          </li>

	          <li class="active"><a href="result.html"><span class="material-icons">announcement</span> Results <span class="new badge"></span></a></li>

	          <li>
	            <a href="https://shivamkaushik73.wixsite.com/website" target="_blank">
	              <span class="material-icons">star</span> Blog</span>
	            </a>
	          </li>

	        </ul>
	        <ul class="side-nav" id="mobile-demo">

	          <li>
	          	<a href="index.html"><span class="material-icons">home</span> Home</a>
	          </li>

	          <li>
	          	<a href="aboutUs.html"><span class="material-icons">description</span> About Us</a>
	          </li>

	          <li>
	          	<a href="gallery.html"><span class="material-icons">panorama</span> Gallery</a>
	          </li>

	          <li>
	          	<a href="displayBoard.html"><span class="material-icons">assignment</span> Display Board</a>
	          </li>

	          <li class="active">
	          	<a href="result.html"><span class="material-icons">announcement</span> Results <span class="new badge"></span></a>
	          </li>

	          <li>
	            <a href="https://shivamkaushik73.wixsite.com/website" target="_blank">
	              <span class="material-icons">star</span> Blog
	            </a>
	          </li>

	        </ul>
	      </div>
	    </div>
	  </div>
	</nav>

		<div class="fixed-action-btn">
		  <a class="btn-floating btn-large modal-trigger" id="btn-search" href="#result-modal">
		    <i class="large material-icons">search</i>
		  </a>
		</div>

		<!-- Modal Structure -->
		  <div id="result-modal" class="modal" style="overflow: visible">
		    <div class="modal-content">
		      <h5 class="text-muted">Select your name</h5>
		      <div class="row">
		      	<div class="input-field col s12">
		      	    <select id="student-select">
		      	    </select>
	      	      <script id="options-template" type="ejs-template">
	      	      	<option value="null" disabled selected>Choose your name</option>
	      	      	<% for(var i=0; i< resultData.length; i++){ %>
	      	      		<option value="<%= i %>"><%= resultData[i].name %></option>
	      	      	<% } %>
	      	      </script>
		      	  </div>
		      </div>
		    </div>
		    <div class="modal-footer">
		    	<button class="btn waves-effect" id="btn-select-current-user">Go</button>
		    </div>
		  </div>


		<section id="result-section">

			<div class="m-page-header">
				<div class="container">
					<div class="row">
						<div class="col s12">
							<h3>Scholarship Test Results</h3>
						</div>
					</div>
				</div>
			</div>

			<section class="section">
				<div class="container" id="result-container">
					<script id="result-template" type="ejs-template">
						<div class="row">

							<div class="col s12">
								<p class="flow-text">Hi, <%= name %></p>
							</div>
							<div class="row">
								<div class="col s12 m6 l3">
									<div class="card special-card amber darken-2">
										<div class="card-content">
											<div class="special-card-text">
												<div class="heading">
													<%= rank %>
												</div>
												<div class="subheading">is your rank</div>
											</div>
											<div class="special-card-icon">
												<i class="material-icons">star</i>
											</div>
										</div>
									</div>
								</div>

								<div class="col s12 m6 l3">
									<div class="card special-card blue">
										<div class="card-content">
											<div class="special-card-text">
												<div class="heading">
													<%= percentage %>%
												</div>
												<div class="subheading">Percentage
													<p>You gained a total of <span class="bold">
														<%= marks_gained %>
													</span> marks.</p>
												</div>
											</div>
											<div class="special-card-icon">
												<i class="material-icons">sentiment_neutral</i>
											</div>
										</div>
									</div>
								</div>

								<div class="col s12 m6">
									<div class="card">
										<div class="card-content" id="chart_div">
										</div>
									</div>
								</div>

							</div>

							<div class="col s12 m6">
								<% if(percentage >= passingCriteria) {%>
									<p class="flow-text">
										<span class="green-text bold">Congratulations!</span>, you will get a concession of <%= concession %> percent in your fee.
									</p>
									<p class="text-muted">
										Contact Reception for more details.
									</p>
								<% } else{ %>
									<p class="flow-text">
										You have <span class="red-text bold">not passed</span> the scholarship test.
									</p>
									<p class="text-muted">
										Better luck next time.
									</p>
								<% } %>
							</div>



						</div>
					</script>
				</div>
				<div class="container">
					<div class="col s12">
						<h5 class="page-header">Scholarship Criteria</h5>
						<table class="centered striped table-responsive">
							<thead>
								<th>Percentile</th>
								<th>Scholarship</th>
							</thead>
							<tbody>
								<tr>
									<td>100% - 70%</td>
									<td>50%</td>
								</tr>
								<tr>
									<td>69% - 60%</td>
									<td>25%</td>
								</tr>
								<tr>
									<td> less than 60%</td>
									<td>10%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>



		</section>
</body>
</html>
